@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=B8D6473C-1F64-439E-A791-D20790027D28

@ogiermaitre:registry=https://npm.pkg.github.com/ogiermaitre
//npm.pkg.github.com/:_authToken=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